*{
    font-family: cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right,rgb(162, 34, 130),rgb(228, 151, 221));
    display: flex;
    justify-content: center;
    align-items: center;
}   
.box{
    background-color: white;
    width: fit-content;
    padding: 50px;
    box-shadow: 5px 5px 10px;
}
input{
    padding: 10px;
    border-radius: 5px;
}
h1{
    color: hotpink;
}
input[type="button"]{
    background-color: rgb(238, 108, 108);
}
label{
    color: black;
}